.backdrop {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 200%;
	background-color: rgba(0, 0, 0, 0.7);
	z-index: 10;
}

.modal-overlay {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: azure;
	z-index: 100;
	border-radius: 12px;
	max-height: 40em;
	width: 40em;
}
